header {
font-family: 'Montserrat', sans-serif;
font-size: 48px;
}

body { 
font-family: 'Open Sans', sans-serif; 
  font-size: 48px; 
}




/*.btn {
    border-radius: 0px;
}

@import url("gsdk-base.css");
@import url("gsdk-checkbox-radio-switch.css");
@import url("gsdk-sliders.css");*/