

body { 
  font-family: "Open Sans"
  font-size: 48px; 
}

header {
	font-family: "Montserrat"
}




.btn {
    border-radius: 0px;
}

@import url("gsdk-base.css");
@import url("gsdk-checkbox-radio-switch.css");
@import url("gsdk-sliders.css");